extends layout

block content
  form(action='/',method='post')
    div(class='one two')
      label(for='txtUsername') txtUsername
        input(id='txtUsername',type='text',name='txtUsername')
    div(class='three for')
      label(for='txtPassword') txtPassword
        input(id='password',type='password',name='txtPassword')  
    div(class='five six')
        input(type='submit',value='Sign Up')